* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #E8E4D9; */
}

/* -----------------------NAV BAR ---------------------------- */
.navbar {
  position: fixed;
  background-color: #fffcf2;
  width: 100vw;
  height: 50px;
  z-index: 1000;
  
  /* border-bottom: 1px solid white; */
}
.navbar-links {
  height: 100%;
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 90px;
  background-color: #fffcf2;
  cursor: pointer;
  /* border-radius: 10px; */
}
.navbar-link a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration:none;
  color: #403d39;
  background-color: fffcf2;

}
.navbar-link a:hover{
  background-color:#403d39 ;
  color: white;
  border-radius: 5px;
}

.navbar-links.active {
  top: 0;
  left: 0;
  position: fixed;
  color: black;
}

.navbar-menu {
  display: none;
}

/* -----------------------LANDING---------------------------- */
.landing-detail{
  height: 100vh;
  width: 100%;
  display: grid;

}
.landing-detail-content {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 20px;
}
.landing-detail-content h2, h3 {
   color: #342122;
}
.landing-detail-content h2{
  font-size: 60px;
}
.landing-detail-content h3 {
  font-size: 25px;
}
.landing-detail-content strong{
    font-size: 40px;
}
.landing-detail-content-btn{
  border: none;
  align-items: center;
  width: 10%;
  height: 13%;
  padding: 8px 15px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  background-color: #342122;
  color: white;
  cursor: pointer;
}

.landing-detail-content-btn:hover{
  background-color: white ;
  color: #342122;
}

.landing-detail-image img {
  /* padding-top: 20px; */
  position: absolute;
  object-fit: fill;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.landing-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 70%;
  background-color: #f0d8b6;  
}
