* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #E8E4D9; */
}

/* -----------------------NAV BAR ---------------------------- */
.navbar {
  position: fixed;
  background-color: #fffcf2;
  width: 100vw;
  height: 50px;
  z-index: 1000;
  
  /* border-bottom: 1px solid white; */
}
.navbar-links {
  height: 100%;
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  gap: 90px;
  background-color: #fffcf2;
  cursor: pointer;
  /* border-radius: 10px; */
}
.navbar-link a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration:none;
  color: #403d39;
  background-color: fffcf2;

}
.navbar-link a:hover{
  background-color:#403d39 ;
  color: white;
  border-radius: 5px;
}

.navbar-links.active {
  top: 0;
  left: 0;
  position: fixed;
  color: black;
}

.navbar-menu {
  display: none;
}
